.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  /* height: 220px; */
}

.card {
  margin: 15px;
  flex-basis: 80px;
  height: 100px;
  line-height: 100px;
  font-size: xx-large;
  color: white;
  text-align: center;
}

.header {
  font-size: 40px;
  height: 50px;
  font-weight: bold;
  top: 0px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  background-color: #ee161f;
  color: #f8db22;
  text-shadow: 3px 3px #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.window {
  position: relative;
  min-height: 100vh;
  text-align: center;
  margin: auto;
}

.home {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.home input {
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 0px;
  box-sizing: border-box;
}

.home button {
  width: 50%;
  padding: 10px;
}

.game {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turn {
  margin: auto;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px 0px;
  padding: 10px;
}

.playerName {
  margin: auto;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px 0px;
  padding: 10px;
}

.opponents {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 40px 0px;
  width: 100%;
}

.opponent {
  width: 120px;
  height: 150px;
  border: 1px solid black;
  background-color: pink;
  font-size: 37px;
}

.opponentName,
opponentSize {
  font-size: 30px;
  vertical-align: middle;
  padding: 10px;
  line-height: 37px;
  height: 75px;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

/* .opponentSize {
  line-height: 25%;
  height: 50%;
  vertical-align: middle;
} */

.drawTopDeck {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drawTopDeck div {
  flex-basis: 100px;
  height: 125px;
  margin: 30px;
  line-height: 125px;
  font-size: xx-large;
}

.deck {
  color: white;
  border: 1px solid black;
  background-color: black;
}

.topCard {
  color: white;
}

.draw {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: black;
  border: 1px black solid;
  height: 50%;
}
